$feedbackColor: #5b565b;
$errorColor: #FF0000;

.form-feedback {
    color: $feedbackColor;
    margin: 0;
    padding: 0;
    margin-top: 0.15rem;
    line-height: 105%;
    font-weight: 600;
    font-size: 0.8rem;
    text-align: center;
    &.hide {
        display: none;
    }

    &.form-feedback--error {
        font-weight: 400;
        color: $errorColor;
    }
}
