$buttonColor: #fff698;
$ButtonGradColorA: rgba(194, 194, 194, 0);
$ButtonGradColorB: rgba(36, 50, 24, 0);
$ButtonGradColor0: opacify($ButtonGradColorA, 0.01);
$ButtonGradColor1: opacify($ButtonGradColorB, 0.05);
$ButtonGradColor2: opacify($ButtonGradColorB, 0.1);
$ButtonGradColor3: opacify($ButtonGradColorA, 0);
$ButtonGradColor4: opacify($ButtonGradColorB, 0.05);
$ButtonGradColor5: opacify($ButtonGradColorB, 0.2);
$p1: 15%;
$p2: 40%;
$p3: 41%;
$p4: 75%;
$buttonBorderColor: darken($buttonColor, 50%);
$buttonColorHover: darken($buttonColor, 10%);
$buttonBorderColorHover: darken($buttonColorHover, 50%);
$buttonColorSecondary: #9acce6;
$buttonColorSecondaryHover: darken($buttonColorSecondary, 10%);
$buttonBorderColorSecondary: darken($buttonColorSecondary, 50%);
$disabledButtonLabel: white;
$disabledButtonColor: #ae97a6;
$label: #654145;
$inputBorderColor: #aeaeff;
$inputBorderColorFocus: darken($inputBorderColor, 25%);

.form-def-row {
    display: flex;
    margin-bottom: 1rem;
    justify-content: space-between;
    min-height: 3rem;

    &.form-def-row-button-row {
        align-content: flex-end;
        justify-content: flex-end;
        min-height: initial;
        button {
            outline: 0;
            -webkit-appearance: none;
            border-radius: 0.75rem;
            border: 1px solid $buttonBorderColor;
            font-weight: bold;
            font-size: 0.8rem;
            padding: 0.25rem 0.75rem;
            flex-grow: 1;
            flex-basis: 5rem;
            max-width: 12rem;
            margin-left: 1rem;

            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#848484+0,000000+65,ffffff+100&amp;0+0,0.1+47,0.25+66,0.25+66,0.1+100 */
            background: -moz-linear-gradient(top, $ButtonGradColor0 0%, $ButtonGradColor1 $p1, $ButtonGradColor2 $p2, $ButtonGradColor3 $p3, $ButtonGradColor4 $p4, $ButtonGradColor5 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, $ButtonGradColor0 0%, $ButtonGradColor1 $p1, $ButtonGradColor2 $p2, $ButtonGradColor3 $p3, $ButtonGradColor4 $p4, $ButtonGradColor5 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, $ButtonGradColor0 0%, $ButtonGradColor1 $p1, $ButtonGradColor2 $p2, $ButtonGradColor3 $p3, $ButtonGradColor4 $p4, $ButtonGradColor5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00848484', endColorstr='#1affffff', GradientType=0); /* IE6-9 */
            background-color: $buttonColor;

            .last {
                margin-left: 0;
            }
            &.secondary {
                background-color: $buttonColorSecondary;
                border: 1px dotted $buttonBorderColorSecondary;
                &:hover {
                    background-color: $buttonColorSecondaryHover;
                    border: 1px solid $buttonBorderColorSecondary
                }
            }
            &:disabled {
                background-color: $disabledButtonColor;
                color: $disabledButtonLabel;
                border: 1px dotted ($disabledButtonColor + $inputBorderColor)/2;
                &:hover {
                    background-color: $disabledButtonColor;
                    color: $disabledButtonLabel;
                    border: 1px solid ($disabledButtonColor + $inputBorderColor)/2;
                }
            }
            &:hover {
                background-color: $buttonColorHover;
                border: 1px solid $buttonBorderColorHover;
            }
        }
    }
    label {
        flex-basis: 10rem;
        flex-grow: 1;
        flex-shrink: 1;
        font-weight: 400;
        text-align: right;
        display: block;
        padding-right: 1.5rem;
        padding-top: 0.25rem;
        color: $label
    }

    .form-def-row__input {
        flex-basis: 20rem;
        flex-grow: 0;
        input, textarea {
            -webkit-appearance: none;
            border: 1px dotted $inputBorderColor;
            padding: 0.25rem;
            width: 100%;
            box-sizing: border-box;
            font-weight: 400;
            &:focus {
                border: 1px solid $inputBorderColorFocus;
                outline: none;
            }
        }
    }
}
