$buttonColor: #fff897;
$buttonColorHover: darken($buttonColor, 20%);
$buttonColorSecondary: #d9deff;
$buttonColorSecondaryHover: darken($buttonColorSecondary, 5%);
$disabledButtonLabel: white;
$disabledButtonColor: #ae97a6;
$label: #654145;
$inputBorderColor: #aeaeff;
$inputBorderColorFocus: darken($inputBorderColor, 25%);

.form-row {
    display: flex;
    margin-bottom: 1rem;
    justify-content: space-between;
    min-height: 3rem;

    &.form-row-button-row {
        align-content: flex-end;
        justify-content: flex-end;
        min-height: initial;
        button {
            outline: 0;
            -webkit-appearance: none;
            border-radius: 0.75rem;
            background-color: $buttonColor;
            border: 1px dotted ($buttonColor + $inputBorderColor)/2;
            font-weight: bold;
            font-size: 0.8rem;
            padding: 0.25rem 0.75rem;
            flex-grow: 1;
            flex-basis: 5rem;
            max-width: 12rem;
            margin-left: 1rem;
            .last {
                margin-left: 0;
            }
            &.secondary {
                background-color:$buttonColorSecondary;
                border: 1px dotted ($buttonColorSecondary + $inputBorderColor)/2;
                &:hover {
                    background-color: $buttonColorSecondaryHover;
                    border: 1px solid ($buttonColorSecondaryHover + $inputBorderColor)/2;
                }
            }
            &:disabled {
                background-color: $disabledButtonColor;
                color: $disabledButtonLabel;
                border: 1px dotted ($disabledButtonColor + $inputBorderColor)/2;
                &:hover {
                    background-color: $disabledButtonColor;
                    color: $disabledButtonLabel;
                    border: 1px solid ($disabledButtonColor + $inputBorderColor)/2;
                }
            }
            &:hover {
                background-color: $buttonColorHover;
                border: 1px solid ($buttonColorHover + $inputBorderColorFocus)/2;
            }
        }
    }
    label {
        flex-basis: 10rem;
        flex-grow: 1;
        flex-shrink: 1;
        font-weight: 400;
        text-align: right;
        display: block;
        padding-right: 1.5rem;
        padding-top: 0.25rem;
        color: $label
    }

    .form-row__input {
        flex-basis: 20rem;
        flex-grow: 0;
        input, textarea {
            -webkit-appearance: none;
            border: 1px solid $inputBorderColor;
            padding: 0.25rem;
            width: 100%;
            box-sizing: border-box;
            font-weight: 400;
            &:focus {
                border-color: $inputBorderColorFocus;
                outline: none;
            }
        }
    }
}
