.form-row {
    display: flex;
    min-height: 2rem;
    margin-bottom: 1rem;
    justify-content: space-between;

    &.form-row-button-row {
        align-content: flex-end;
        justify-content: flex-end;
        button {
            -webkit-appearance: none;
            background-color: goldenrod;
            font-weight: bold;
            font-size: 0.8rem;
            padding: 0.25rem 0.75rem;
            flex-grow: 1;
            flex-basis: 5rem;
            max-width: 12rem;
            border: none;
            margin-left: 1rem;
            &.secondary {
                background-color: palegoldenrod;
            }
            &:disabled {
                background-color: lightgrey;
                color: red;
            }
        }
    }
    p {
        margin: 0;
        padding: 0;
        margin-top: 0.15rem;
        line-height: 105%;
        small {
            font-size: 0.66rem;
            font-weight: 800;
        }
        &.error {
            color: red;
        }
        &.hide {
            visibility: hidden;
        }
    }
    label {
        flex-basis: 10rem;
        flex-grow: 1;
        flex-shrink: 1;
        text-align: right;
        display: block;
        padding-right: 1.5rem;
    }

    .form-row__input {
        flex-basis: 20rem;
        flex-grow: 0;
        input, textarea {
            -webkit-appearance: none;
            border: 1px solid lightslategray;
            padding: 0.25rem;
            width: 100%;
            &:focus {
                border-color: black;
                outline: none;
            }
        }
    }
}
